{% extends 'basic.html' %}

{% block active %}
<ul class="nav navbar-nav">
    <li><a href=""><i class="fa fa-home" aria-hidden="true"></i>  Home</a></li>
    <li class="active"><a >About</a></li>
</ul>
{% endblock %}

{% block contents %}

<div class="container">
<div class="row">
<div class="col-sm-6 col-sm-offset-3 col-xs-12">
	<p style="font-size:22px;"> Any media resource used in this website is opensource and is available at <a href="https://pixabay.com/">PixaBay </a></p>
</div>
</div>
</div>

{% endblock %}